@import url("https://fonts.googleapis.com/css?family=Gugi");
.ava img{
    width:200px; height: 200px;
}
.mainpage{
    width: 90%; height:100vh; margin: auto;font-family: 'Gugi';
}
.mainpage h1{
    margin: 0;padding: 20px 0;text-align: center;
}
